CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''

# Database Utama (JALA Alumni)
database.default.hostname = 127.0.0.1
database.default.database = jala-alumni
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306

# Database Lama (Training / SINAKER)
database.training.hostname = 127.0.0.1
database.training.database = sinaker
database.training.username = root
database.training.password = 
database.training.DBDriver = MySQLi
database.training.port = 3306
